// Set button style
@mixin button($type) {
  position: relative;
  display: inline-block;
  @include padding(10px,30px,10px,30px);
  border: 0;
  @include border-radius(20px,20px,20px,20px);
  text-decoration: none;
  min-width: 160px;
  height: 40px;
  -webkit-transition: color 0.7s ease-in-out;
  -moz-transition: color 0.7s ease-in-out;
  -o-transition: color 0.7s ease-in-out;
  transition: color 0.7s ease-in-out;
  @include text-align(center);

  &:hover, &:visited, &:link, &:active{
    text-decoration: none;
  }

  @if ($type == 'default_button'){
    color: $cl_base;
    font-weight: 600;
    text-transform: uppercase;
    background: $cl_primary;
    @include responsive-text-size('defualt_button');
    transition: all 0.5s;

    &.successBtn{
      background: $cl_shineGreen;

      &:hover{
        background: $cl_shineGreen;
      }
    }

    &:hover{
      text-decoration: none;
      color: $cl_base;
      background: $cl_blue;
    }

    &:active, &:link, &:visited{
      color: $cl_base;
    }
  }

  @if ($type == 'light_button'){
    @include padding(11px,20px,11px,20px);
    border: 1px solid $cl_primary;
    @include border-radius(100px,100px,100px,100px);
    @include responsive-text-size('forms_button');
    color: $cl_primary;
    background: $cl_base;

    &:hover{
      text-decoration: none;
      color: $cl_primary;
    }

  }

  @if ($type == 'light_button_icon'){
    @include padding(11px,20px,11px,0);
    border: 1px solid $cl_primary;
    @include border-radius(100px,100px,100px,100px);
    @include responsive-text-size('forms_button');
    color: $cl_primary;
    background: $cl_base;

    &:hover{
      text-decoration: none;
      color: $cl_primary;
    }

  }

  @if ($type == 'transparent'){
    @include padding(11px,20px,11px,20px);
    border: 1px solid $cl_base;
    @include border-radius(100px,100px,100px,100px);
    @include responsive-text-size('forms_button');
    color: $cl_base;
    background: $cl_transparent;

    &:hover{
      color: $cl_base;
      text-decoration: none;
    }
  }

  &.rightIcon{
    i{
      position: absolute;
      top: calc(50% - 10px);
      @include right(12px);
      font-size: 20px;
      @include Material;
    }
  }

  &.smallText{
    @include responsive-text-size('button_smallText');
  }

  &.loading {
    background: url('images/loading.gif') no-repeat center center;
    background-size: 28px;
    color: transparent;
  }
}
